html,
body {
	font: 100% "Lato", sans-serif;
	font-weight: 300;
  height: 100%;
  font-size: 14px;
}

.blue-bg {
	color: black;
	height: 100%;
}

.circle {
	font-weight: bold;
	padding: 15px 20px;
	border-radius: 50%;
  background-color: #cc5151;	
  color: white;
	max-height: 50px;
	z-index: 2;
}

.how-it-works.row {
	display: flex;
}

.how-it-works.row .col-2 {
	display: inline-flex;
	align-self: stretch;
	align-items: center;
	justify-content: center;
}

.how-it-works.row .col-2::after {
	content: '';
	position: absolute;
	border-left: 3px solid #ED8D8D;
	z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
	height: 50%;
	left: 50%;
	top: 50%;
}

.how-it-works.row .col-2.full::after {
	height: 100%;
	left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
	height: 50%;
	left: 50%;
	top: 0;
}

.timeline div {
	padding: 0;
	height: 40px;
}

.timeline hr {
	border-top: 3px solid #ED8D8D;
	margin: 0;
	top: 17px;
	position: relative;
}

.timeline .col-2 {
	display: flex;
	overflow: hidden;
}

.timeline .corner {
	border: 3px solid #ED8D8D;
	width: 100%;
	position: relative;
	border-radius: 15px;
}

.timeline .top-right {
	left: 50%;
	top: -50%;
}

.timeline .left-bottom {
	left: -50%;
	top: calc(50% - 3px);
}

.timeline .top-left {
	left: -50%;
	top: -50%;
}

.timeline .right-bottom {
	left:50%;
	top: calc(50% - 3px);
}


.course-details{
  display: flex;
}

.course-date{
  margin-right: 10px;
}
.fa{
  color: #6bd4c8;

}
.course-hours{
  margin-right: 10px;
}
.course-desc{
display: flex}

.course-desc h6{
  color: #6bd4c8;
  font-weight: bold;
  margin-right: 5px;


}
.pre-req{
  background-color: red;
height: 20px;
padding: 10px 20px;
margin-left: 8px;
box-shadow: 2px 2px #888888; 
text-align: center;
display: flex;
align-items: center;
cursor: pointer;
color: white;
font-weight: bold;

}
.course-duration{
  display: flex;
}

.course-duration > span{
  padding-left: 3px;
}

.course-price{
  color: #6bd4c8;
  font-weight: bold;
  padding-left: 3px;


}
.text-right h4{
  display: flex;
}

.course-enroll{
  display: flex;
  
}
.course-header{
  display: flex;
  justify-content: space-between
}
.enroll {
  background-color: #6bd4c8;
    color: #fff;
    width: 190px;
    font-size: 15px;
    padding: 12px 35px;;
    font-weight: bold;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    animation: moveInLeft 1s ease-out;

}

.enroll:hover{
  background-color: #61f3e2;
  text-decoration: none;
  color: red;
  padding: 0px 50px;
    transition: 0.5s ease-in;
}
.course-detaitls-container{
  display: flex;
  flex-direction: column;
}

.course-row{
  display: flex;
  justify-content: space-between
}
.course-photo{
  min-height: 50px;
 
  display: flex;
  flex-direction: column;
}
.course-img{
  width: 190px;

}
.course-right-container{
  display: flex;
  align-items: center;
}

.course-header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h4{
  margin: 0;
}
.course-right{
  display: flex;
  flex-direction: column;
}

.lef-end{
  display: flex;
  justify-content: flex-end
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  80% {
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }
    
    .pre-req .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 10px;
    
      position: absolute;
      z-index: 1;
    }
    
    .pre-req:hover .tooltiptext {
      visibility: visible;
    }

.add-container{
  margin-bottom: 10px;
}

.add-button{
  display: flex;
  justify-content: center;
}

.add-button button{
  width: 150px;

}

.title-header{
display: flex;
height: 100px;
justify-content: center;
background: #61f3e2;
margin-bottom: 25px;
align-items: center;
}


.startButton{
  height: 100vh;
  background: #61f3e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton button{
  width: 100px;
  height: 80px;
  animation:spin 4s linear infinite;

}


@-ms-keyframes spin { 
  from { 
      -ms-transform: rotate(0deg); 
  } to { 
      -ms-transform: rotate(360deg); 
  }
}
@-moz-keyframes spin { 
  from { 
      -moz-transform: rotate(0deg); 
  } to { 
      -moz-transform: rotate(360deg); 
  }
}
@-webkit-keyframes spin { 
  from { 
      -webkit-transform: rotate(0deg); 
  } to { 
      -webkit-transform: rotate(360deg); 
  }
}
@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}

